body{
    background-color: lightsteelblue;
    color: white;
    margin: 0;
    font-family: Rubik;
}
.taskBar{
    background:  whitesmoke;
    position: absolute;
    Width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-family: Rubik;
    text-align: center;
}

#homePage{
    border: solid 3px black;
    flex-grow: 1;
}

#homePage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#homePage img{
    height: 64px;
    width: 64px;
}

#mainPage{
    border: solid 3px black;
    flex-grow: 2;
}

#mainPageAnchor{
    text-decoration: inherit;
    color: inherit;
}

#mainPage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#News{
    border: solid 3px black;
    flex-grow: 2;
    text-decoration: none;
}

#newsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#News:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#comparePokemon{
    border: solid 3px black;
    flex-grow: 2;
}

#comparePokemonAnchor{
    text-decoration: inherit;
    color: inherit;
}

#comparePokemon:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#teamBuilder{
    border: solid 3px black;
    flex-grow: 2;
}

#teamBuilderAnchor{
    text-decoration: inherit;
    color: inherit;
}

#teamBuilder:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#aboutUs{
    border: solid 3px black;
    flex-grow: 2;
}

#aboutUsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#aboutUs:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#newsContent {
    background: white;
    color: black;
    width: 1000px;
    height: 900px;
    position:relative;
    top: 100px;
    margin: auto;
    border: 3px black solid;
    padding: 15px 50px 15px 50px;
}
#newsContent h1{
    text-align: center;
    font-weight: 800;
}

#newsContent p{
    text-indent: 50px;
    line-height: 2.0;
    font-size: large;
}
#start{
    position: relative;
    left:350px;
    width: 299px;
    height: 168px;
}


/*****************************************/
/*Compare Moves*/
/*****************************************/
.column{   
    float: left;
    width: 49%;
    /* border: 1px solid black ; */
}

.moves{
    text-align: left;
    width: 40%;
    height: 30px;
    border-style: solid;
    border-color: black;
    margin: 0px;
}

.learnat {
    float:left;
}

#movesTableL{
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}
/*Outer parent for Tables, Allows for scrolling*/
#moveTables{
    max-height: 500px;
    min-height: 100px; 
    overflow: auto;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

#movesTableL th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #353636;
    color: white;
    border: 1px solid #ddd;
    padding: 30px;

}

#movesTableL td{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

#movesTableL tr:nth-child(even){
    background-color: rgb(169, 169, 169);
}

#movesTableL tr:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#movesTML{
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#movesTML th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #353636;
    color: white;
    border: 1px solid #ddd;
    padding: 30px;

}

#movesTML td{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

#movesTML tr:nth-child(even){
    background-color: rgb(169, 169, 169);
}

#movesTML tr:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#movesTableR{
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#movesTableR th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #353636;
    color: white;
    border: 1px solid #ddd;
    padding: 30px;

}

#movesTableR td{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

#movesTableR tr:nth-child(even){
    background-color: rgb(169, 169, 169);
}

#movesTableR tr:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#movesTMR{
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#movesTMR th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #353636;
    color: white;
    border: 1px solid #ddd;
    padding: 30px;

}

#movesTMR td{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

#movesTMR tr:nth-child(even){
    background-color: rgb(169, 169, 169);
}

#movesTMR tr:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


p.pTitle{
    font-size: xx-large !important;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

.comparePokemon{
    background-color: lightsteelblue;
    position: absolute;
    Width: 100%;
    top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-family: Rubik;
    text-align: center;
    justify-content: space-between;
}

.pokemonCard1 {
    flex-grow: 3;
    margin-right: 20px;

}

.pokemonCard2 {
    flex-grow: 3;
    margin-left: auto;
}

/*Search bar*/
#searchBarL {
    width: 75%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

#searchBarR {
    width: 75%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

#searchWrapper1 {
    position: relative;
}

#searchWrapper2 {
    position: relative;
}

#searchWrapper1::after {
    content: '🔍';
    position: absolute;
    top: 1px;
    right: 10px;
    bottom: 1px;

}

#searchWrapper2::after {
    content: '🔍';
    position: absolute;
    top: 1px;
    right: 10px;
    bottom: 1px;

}

#start{
    position: relative;
    left:350px;
    width: 299px;
    height: 168px;
}

#myListL{
    list-style-type: none;
    min-height:200px;
    height:200px; 
    overflow: auto;
    margin-right: 75px;
    cursor: pointer;
}

#myListR{
    list-style-type: none;
    min-height:200px;
    height:200px; 
    overflow: auto;
    margin-left: 75px;
    cursor: pointer;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: lightsteelblue;
    color: #222;
    text-align: center;
    transform: translate(-20px);
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

#progress_container {
    width:75%;
    background-color: rgb(169, 182, 189);
    height: 30px;
    position: relative;
    left: 70px;
  }
  
  #progress_container_text {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  #progress_container_text_align_center {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    text-transform: capitalize;
  }

  #progress_max_container_text_align_center {
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
  }
  
  #loading_bar0 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
  #loading_bar1 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
  #loading_bar2 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
  #loading_bar3 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
  #loading_bar4 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
  #loading_bar5 {
    height: 90%;
    background-color: rgb(58, 166, 255);
    border: black 1px solid;
    border-radius: 8px;
  }
/*****************************************/
/************End Compare******************/
/*****************************************/