body{
    background-color: lightsteelblue;
    color: white;
    margin: 0;
    font-family: Rubik;
}
.taskBar{
    background:  whitesmoke;
    position: absolute;
    Width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-family: Rubik;
    text-align: center;
}

#homePage{
    border: solid 3px black;
    flex-grow: 1;
}

#homePage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#homePage img{
    height: 64px;
    width: 64px;
}

#mainPage{
    border: solid 3px black;
    flex-grow: 2;
}

#mainPageAnchor{
    text-decoration: inherit;
    color: inherit;
}

#mainPage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#News{
    border: solid 3px black;
    flex-grow: 2;
}

#newsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#News:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#comparePokemon{
    border: solid 3px black;
    flex-grow: 2;
}

#comparePokemon:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#comparePokemonAnchor{
    text-decoration: inherit;
    color: inherit;
}

#teamBuilder{
    border: solid 3px black;
    flex-grow: 2;
}

#teamBuilderAnchor{
    text-decoration: inherit;
    color: inherit;
}

#teamBuilder:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#aboutUs{
    border: solid 3px black;
    flex-grow: 2;
}

#aboutUsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#aboutUs:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#mainContent{
    background: white;
    color: black;
    width: 900px;
    height: 700px;
    position:relative;
    top: 100px;
    margin: auto;
    border: 3px black solid;
    padding: 15px 50px 15px 50px;
}
#mainContent h1{
    text-align: center;
    font-weight: 800;
}

#mainContent p{
    text-indent: 50px;
    font-size:x-large;
    line-height: 2.0;
}
#mainContent p.alt-text{
    font-size:medium;
    color: grey;
    display: inline;
}
#mainContent p.names{
    display: inline;
}