body{
    background-color: lightsteelblue;
    color: white;
    margin: 0;
    font-family: Rubik;
}
.taskBar{
    background:  whitesmoke;
    position: absolute;
    Width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    font-family: Rubik;
    text-align: center;
}

#homePage{
    border: solid 3px black;
    flex-grow: 1;
}

#homePage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#homePage img{
    height: 64px;
    width: 64px;
}

#mainPage{
    border: solid 3px black;
    flex-grow: 2;
}

#mainPageAnchor{
    text-decoration: inherit;
    color: inherit;
}

#mainPage:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#News{
    border: solid 3px black;
    flex-grow: 2;
    text-decoration: none;
}

#newsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#News:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#comparePokemon{
    border: solid 3px black;
    flex-grow: 2;
}

#comparePokemonAnchor{
    text-decoration: inherit;
    color: inherit;
}

#comparePokemon:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#gameMechanics{
    border: solid 3px black;
    flex-grow: 2;
}

#gameMechanicsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#gameMechanics:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#aboutUs{
    border: solid 3px black;
    flex-grow: 2;
}

#aboutUsAnchor{
    text-decoration: inherit;
    color: inherit;
}

#aboutUs:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 1px 2px lightgray;
}

#newsContent {
    background: white;
    color: black;
    width: 1000px;
    height: 900px;
    position:relative;
    top: 100px;
    margin: auto;
    border: 3px black solid;
    padding: 15px 50px 15px 50px;
}
#newsContent h1{
    text-align: center;
    font-weight: 800;
}

#newsContent p{
    text-indent: 50px;
    line-height: 2.0;
    font-size: large;
}
#start{
    position: relative;
    left:350px;
    width: 299px;
    height: 168px;
}